<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_new_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_new_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ScotiabankJavaApp"
        tools:targetApi="31">
        <activity
            android:name=".ViewPagerActivity"
            android:exported="false" />
        <activity
            android:name=".SendMoneyActivity"
            android:exported="false"></activity>
        <activity
            android:name=".MoveMoneyActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">

            <!-- change the experted to true as this has be the first activity which should load as the first screen or activity. -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>